<div class="mt-8 mx-5">
    <h2 class="text-xl font-semibold mb-4 text-gray-800">{{ 'PDF.RECENT' | transloco }}</h2>
    <div class="bg-white rounded-lg shadow-sm overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" [ngClass]="{ 'text-right': currentLang() === 'ar' }">{{ 'PDF.TRANSACTION_TABLE.TIME' | transloco }}</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" [ngClass]="{ 'text-right': currentLang() === 'ar' }">{{ 'PDF.TRANSACTION_TABLE.CLIENT' | transloco }}</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" [ngClass]="{ 'text-right': currentLang() === 'ar' }">{{ 'PDF.TRANSACTION_TABLE.BENEFICIARY' | transloco }}</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" [ngClass]="{ 'text-right': currentLang() === 'ar' }">{{ 'PDF.TRANSACTION_TABLE.TEMPLATE' | transloco }}</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" [ngClass]="{ 'text-right': currentLang() === 'ar' }">{{ 'PDF.FIELDS.AMOUNT' | transloco }}</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" [ngClass]="{ 'text-right': currentLang() === 'ar' }">{{ 'PDF.FIELDS.CURRENCY' | transloco }}</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          @for (item of transactions(); track item.id) {
            <tr>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">{{ getRelativeTime(item.createdDate) }}</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">{{ item.clientName }}</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">{{ item.beneficiaryName }}</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">{{ item.templateName }}</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">{{ item.amount }}</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">{{ item.currency }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>